@inherits LayoutComponentBase
@using AntDesign
@using BlazorAppIdolJav.Components.Pages
@using BlazorAppIdolJav.SpecialComponent

<HeadContent>
    <link href="_content/AntDesign/css/ant-design-blazor.css" rel="stylesheet" />
</HeadContent>
<div class="page">
    <div class="sidebar">
        <NavMenu HaveLogged="isLoggedIn"></NavMenu>
    </div>
    <main>
        <div class="top-row px-4">
            @if (!isLoggedIn)
            {
                <a href="#" @onclick="ShowLoginModal">Đăng nhập</a>
            }
            else
            {
                <a href="#" @onclick="LogoutAccount">Đăng xuất</a>
            }
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
<script src="_content/AntDesign/js/ant-design-blazor.js"></script> 

<Modal Visible="loginVisible" Title="ĐĂNG NHẬP LIỀN" Footer="@null" MaskClosable=true>
    <EditForm Model="@EditModel" OnValidSubmit="@HandleLoginAsync">
        <Row>
            <LabelFor For="() => EditModel.UserName"></LabelFor>
            <Input @bind-Value="@EditModel.UserName" />
            <ValidationMessage For="() => EditModel.UserName"></ValidationMessage>
        </Row>
        <Row>
            <LabelFor For="() => EditModel.PassWord"></LabelFor>
            <AntDesign.InputPassword @bind-Value="@EditModel.PassWord" />
            <ValidationMessage For="() => EditModel.PassWord"></ValidationMessage>
        </Row>
        <Row>
            Bạn chưa có tài khoản?
            <NavLink href="/register">
                Click here
            </NavLink>
        </Row>
        <Row Gutter="8" Justify="@RowJustify.End">
            <Space>
                <SpaceItem>
                    <Button HtmlType="submit" Type="@ButtonType.Primary">Đăng nhập</Button>
                </SpaceItem>
            </Space>
        </Row>
    </EditForm>
</Modal>