@page "/dang-nhap"
@layout LoginLayout
@using AntDesign
@using BlazorAppIdolJav.Components.Layout
@using BlazorAppIdolJav.SpecialComponent
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.Web

<Modal Visible="true" Title="Đăng nhập liền" Footer="@null" MaskClosable=true>
    <EditForm Model="@EditModel" OnValidSubmit="@HandleLoginAsync">
        <Row>
            <LabelFor For="() => EditModel.UserName"></LabelFor>
            <Input @bind-Value="@EditModel.UserName" />
            <ValidationMessage For="() => EditModel.UserName"></ValidationMessage>
        </Row>
        <Row>
            <LabelFor For="() => EditModel.PassWord"></LabelFor>
            <AntDesign.InputPassword @bind-Value="@EditModel.PassWord" />
            <ValidationMessage For="() => EditModel.PassWord"></ValidationMessage>
        </Row>
        <Row>
            Bạn chưa có tài khoản?
            <NavLink href="/register">
                Click here
            </NavLink>
        </Row>
        <Row Gutter="8" Justify="@RowJustify.End">
            <Space>
                <SpaceItem>
                    <Button HtmlType="submit" Type="@ButtonType.Primary">Đăng nhập</Button>
                </SpaceItem>
            </Space>
        </Row>
    </EditForm>
</Modal>

