@using AntDesign
@using BlazorAppIdolJav.CoreConfig
@using BlazorAppIdolJav.CoreConfig.Extensions
@using BlazorAppIdolJav.SpecialComponent
@using BlazorAppIdolJav.SpecialComponent.ExtensionClass
@using Microsoft.AspNetCore.Components.Forms
<AntDesign.Row>
    <AntDesign.Col Span="@(Size)">
        @if (EditModel.ImagePath.IsNotNullOrEmpty())
        {
            <div class="pdf-file pernament-cv" style="flex: 1; text-align: center; margin:4px">
                <iframe id="pdf-candidate-preview" src="@EditModel.ImagePathView"
                        width="100%"
                        style="height: 850px;"
                        loading="lazy"
                        title="PDF-file"></iframe>
            </div>
        }
    </AntDesign.Col>
    <AntDesign.Col Span="@(24 - Size)">
        <EditForm Model="EditModel" Context="context">
            <DataAnnotationsValidator />
            <InputWatcher @ref="inputWatcher"></InputWatcher>
            <div class="wrap_content">
                <h3>Đính kèm</h3>
                <AntDesign.Col Span="11" Offset="1" Class="image-character">
                    <LabelFor FieldIdentifier="context.Field(EditModel.Property.NameProperty(c => c.ImageName))"></LabelFor>
                    <br />
                    <input id="uploadIdentityImage" disabled class="f-input" style="margin: 0 !important; padding-right: 30px !important "  value="@EditModel.ImageName" />
                    <div class="fileUpload btn btn--browse" style="margin: 0 !important; padding: 0 !important;">
                        <label for="@idCardUpload" class="ant-btn ant-btn-primary" style="width: 100%"> <Icon Type="plus" Theme="@IconThemeType.Outline" />Đính kèm</label>
                        <InputFile id="@idCardUpload" hidden OnChange="ReadImageAsync" accept="application/pdf,image/*" />
                    </div>
                </AntDesign.Col>
            </div>
            <div class="wrap_content">
                <h3>Thông tin cá nhân</h3>
                <AntDesign.Row Gutter="16">
                    <AntDesign.Col Span="12">
                        <LabelFor For="() => EditModel.Name"></LabelFor>
                        <Input Type="@InputType.Text" @bind-Value="@EditModel.Name" Disabled="@EditModel.ReadOnly">
                        <ValidationMessage For="() => EditModel.Name"></ValidationMessage>
                    </AntDesign.Col>
                    <AntDesign.Col Span="12">
                        <LabelFor For="() => EditModel.NickName"></LabelFor>
                        <Input Type="@InputType.Text" @bind-Value="@EditModel.NickName" Disabled="@EditModel.ReadOnly">
                        <ValidationMessage For="() => EditModel.Name"></ValidationMessage>
                    </AntDesign.Col>
                    <AntDesign.Col Span="12">
                        <LabelFor For="() => EditModel.Country"></LabelFor>
                        <Select TItemValue="string" TItem="SelectItem" EnableSearch
                                DataSource="NationalOptions"
                                LabelName="@nameof(SelectItem.Text)"
                                ValueName="@nameof(SelectItem.Value)"
                                @bind-Value="EditModel.Country" Disabled="EditModel.ReadOnly">
                        </Select>
                    </AntDesign.Col>
                    <AntDesign.Col Span="12">
                        <LabelFor For="() => EditModel.Gender"></LabelFor>
                        <Select TItemValue="string" TItem="SelectItem" EnableSearch
                                DataSource="GenderOptions"
                                LabelName="@nameof(SelectItem.Text)"
                                ValueName="@nameof(SelectItem.Value)"
                                @bind-Value="EditModel.Gender" Disabled="EditModel.ReadOnly">
                        </Select>
                    </AntDesign.Col>
                     <AntDesign.Col Span="12">
                        <LabelFor FieldIdentifier="context.Field(nameof(EditModel.DebutDate))"></LabelFor>
                        <br>
                        <DatePicker @bind-Value="@EditModel.DebutDate"
                                    Disabled="@EditModel.ReadOnly"
                                    Style="display:block"
                                    ChangeOnClose>
                        </DatePicker>
                        <ValidationMessage For="() => EditModel.DebutDate"></ValidationMessage>
                    </AntDesign.Col>
                    <AntDesign.Col Span="12">
                        <LabelFor FieldIdentifier="context.Field(nameof(EditModel.Age))"></LabelFor>
                        <Input Type="@InputType.Number" @bind-Value="@EditModel.Age" Disabled="@EditModel.ReadOnly" Placeholder="">
                        <ValidationMessage For="() => EditModel.Age"></ValidationMessage>
                    </AntDesign.Col>
                    <AntDesign.Col Span="12">
                        <LabelFor FieldIdentifier="context.Field(nameof(EditModel.ChestSize))"></LabelFor>
                        <Input Type="@InputType.Number" @bind-Value="@EditModel.ChestSize" Disabled="@EditModel.ReadOnly" Placeholder="">
                        <ValidationMessage For="() => EditModel.ChestSize"></ValidationMessage>
                    </AntDesign.Col>
                    <AntDesign.Col Span="12">
                        <LabelFor FieldIdentifier="context.Field(nameof(EditModel.WaistSize))"></LabelFor>
                        <Input Type="@InputType.Number" @bind-Value="@EditModel.WaistSize" Disabled="@EditModel.ReadOnly" Placeholder="">
                        <ValidationMessage For="() => EditModel.WaistSize"></ValidationMessage>
                    </AntDesign.Col>
                    <AntDesign.Col Span="12">
                        <LabelFor FieldIdentifier="context.Field(nameof(EditModel.Age))"></LabelFor>
                        <Input Type="@InputType.Number" @bind-Value="@EditModel.ButtSize" Disabled="@EditModel.ReadOnly" Placeholder="">
                        <ValidationMessage For="() => EditModel.ButtSize"></ValidationMessage>
                    </AntDesign.Col>
                </AntDesign.Row>
            </div>
        </EditForm>
    </AntDesign.Col>
</AntDesign.Row>

