@page "/dien-vien"
@using AntDesign
@using BlazorAppIdolJav.CoreConfig.Extensions;
@using BlazorAppIdolJav.Share.Model.ViewModel;
@using BlazorAppIdolJav.SpecialComponent;
@using Microsoft.AspNetCore.Components.Routing
@using static BlazorAppIdolJav.Share.Extension.MessageEnumExtension


<AntDesign.Row Gutter="8">
    <AntDesign.Col Span="24">
        <AntDesign.Title Level="3">Danh sách diễn viên</AntDesign.Title>
    </AntDesign.Col>
    <AntDesign.Col Span="24">
        <Row Gutter="8">
            <Space>
                <SpaceItem>
                    <Button Icon="plus" OnClick="@OpenCreateAsync" Type="@ButtonType.Primary" Color="Color.Green7">Thêm mới</Button>
                </SpaceItem>
            </Space>
        </Row>
    </AntDesign.Col>
    <AntDesign.Col Span="24">
        <AntDesign.Table @ref="Table" TItem="ActressViewModel"
                         Class="table-striped"
                         Loading="loading"
                         Bordered
                         ScrollX="100%"
                         DataSource="@ViewModels"
                         HidePagination>
            <AntDesign.Column @bind-Field="@context.Stt" Title="STT" Width="45" Align="ColumnAlign.Left" Fixed="@ColumnFixPlacement.Left"></AntDesign.Column>
            <AntDesign.Column @bind-Field="@context.Name" Title="Họ tên" Width="150"></AntDesign.Column>
            <AntDesign.Column @bind-Field="@context.Gender" Title="Giới tính" Width="100">
                @CommonTemplate.RenderGenderText(context.Gender)
            </AntDesign.Column>
            <AntDesign.Column @bind-Field="@context.ChestSize" Title="Vòng ngực" Width="100" />
            <AntDesign.Column @bind-Field="@context.ButtSize" Title="Vòng mông" Width="100" />
            <AntDesign.Column @bind-Field="@context.WaistSize" Title="Vòng eo" Width="100" />
            <AntDesign.Column @bind-Field="@context.Country" Title="Quốc tịch" Width="130">
                @CommonTemplate.RenderNationalityText(context.Country)
            </AntDesign.Column>
            <AntDesign.Column @bind-Field="@context.NickName" Title="Biệt danh" Width="150" />
            <AntDesign.ActionColumn Title="Thao tác" Class="action-column-center " Width="100" Fixed="@ColumnFixPlacement.Right" Context="context">
                <AntDesign.Space>
                    <AntDesign.SpaceItem>
                        <AntDesign.Tooltip Placement="@Placement.Top" Title="Sửa">
                            <AntDesign.Icon Type="edit" Theme="@IconThemeType.Fill" Class="btn-icon-edit" OnClick="() => UpdateAsync(context)" />
                        </AntDesign.Tooltip>
                    </AntDesign.SpaceItem>
                    <AntDesign.SpaceItem>
                        <AntDesign.Popconfirm Placement="@Placement.Top"
                                              OnConfirm="() => DeleteAsync(context)"
                                              OkText="Đồng ý"
                                              CancelText="Hủy">
                            <ChildContent>
                                <AntDesign.Tooltip Placement="@Placement.Top" Title="Xóa">
                                    <AntDesign.Icon Type="delete" Theme="@IconThemeType.Fill" Class="btn-icon-delete-answer" />
                                </AntDesign.Tooltip>
                            </ChildContent>
                            <TitleTemplate>
                                @OperationEnum.AreYouSureToDelete.GetDescription()
                            </TitleTemplate>
                        </AntDesign.Popconfirm>
                    </AntDesign.SpaceItem>
                </AntDesign.Space>
            </AntDesign.ActionColumn>
        </AntDesign.Table>
    </AntDesign.Col>
</AntDesign.Row>

<Drawer Width="@width.ToString()" ZIndex="1000"
        Height="@height.ToString()"
        Visible="createVisible"
        Title="@title"
        OnClose="() => createVisible = false"
        MaskClosable="false">
    <CharacterDetail @ref="characterDetailRef" ReSize="ReSize"></CharacterDetail>
</Drawer>